################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lock Key Status Indicator/.vs/Lock Key Status Indicator
/Lock Key Status Indicator/obj
/Lock Key Status Indicator/bin/Debug/netcoreapp3.0
/Lock Key Status Indicator/bin/Release/netcoreapp3.0
